.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.avatar {
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-window {
  height: 20vh;
  width: 30vw;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  word-wrap: break-word; /* Ensures long words break to fit the width */
  white-space: pre-wrap;
}

.container {
  display: 'flex';
  justifyContent: 'start';
  alignItems: 'left';
  padding: '2px';
};
